<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Property">
   <insert id="add" parameterType="Property">
      insert into property(cid,name) values(#{cid},#{name})
   </insert>
   <delete id="deleteById">
      delete from property where id = #{id}
   </delete>
   <update id="update" parameterType="Property">
      update property
      <trim prefix="set" suffixOverrides=",">
           <if test="cid!=null and cid!=''">
               name = #{cid}
           </if>
           <if test="name!=null and name!=''">
               name = #{name}
           </if>
        </trim>
        where id = #{id}
   </update>
   <select id="queryById" resultType="Property">
      select * from property where id = #{id}
   </select>
   <select id="getTotals" resultType="int">
      select count(*) from property
   </select>
   <select id="queryByPage" parameterType="map" resultType="Property">
      select * from property order by id limit #{start},#{pageSize}
   </select>
</mapper>